{% load static %}

<footer class="rodape">
    <div class="rodape__icones">
        <a href="https://wa.me/5562981062458" target="_blank">
            <img src="{% static 'assets/ícones/1x/whatsapp.png' %}" alt="" style="height: 50px; width: auto;">
        </a>
        <a href="https://www.instagram.com/adriano_coelho4/" target="_blank">
            <img src="{% static 'assets/ícones/1x/instagram (1).png' %}" alt="" style="height: 50px; width: auto;">
        </a>
        <a href="https://github.com/AdrianoCLeao" target="_blank">
            <img src="{% static 'assets/ícones/1x/git.png' %}" alt="" style="height: 50px; width: auto;">
        </a>
        <a href="https://www.linkedin.com/in/adrianocoelholeaofilho/" target="_blank">
            <img src="{% static 'assets/ícones/1x/linkedin.png' %}" alt="" style="height: 50px; width: auto;">
        </a>
    </div>
    <p class="rodape__texto">Desenvolvido por Adriano Leão</p>
</footer>